.reagister-link{
cursor: pointer;
margin-left: 10px;
}
.reagister-from input{
    display: block;
    width: 100%;
    margin-bottom: 30px;
    height:50px;
    border-radius: 8px;
    font-size: 16px;
    word-spacing:2px;
    color:gray;
  
}
.from-container p{
    font-size: 18px;
}